body {
    margin: 0 auto;
    background-color: #171717;
    padding: 15px;
    max-width: 1300px;
}


.portfolio-title-section{
    margin-top: 90px;
    color: #dbd4b5;
    text-align: center;
}
.portfolio-title-section h1 {
    /* font */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: 50px;
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .4em;
}

.portfolio-projects {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    color: #dbd4b5;
}

.portfolio-projects h1 {
    border-bottom: #dbd4b5 solid 1px;
}

.project-box {
    display: flex;
    background-color: #1f1f1f;
    margin-bottom: 15px;
}

.project-title {
    flex: 1;
    margin-left: 15px;
}

.project-description {
    flex: 2;
    margin-left: 15px;
    font-size: 16px;
}

.project-description p{
    width: 100%;
    
}

.project-description-buttons {
    display: flex;
    text-align: center;
    background-color: #1a1919;
    margin: 10px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 294px;
}

.project-description-buttons a:hover {
    background-color: #2d2b2b;
    cursor: pointer;
}

.button-divider {
    border: #dbd4b5 solid 1px;
}
.project-description-buttons h2{
    margin: 15px;
    font-size: 20px;
}

.portfolio-research {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    color: #dbd4b5;
    margin-bottom: 50px;
}

.portfolio-research h1 {
    border-bottom: #dbd4b5 solid 1px;
}

.project-description-buttons a {
    text-decoration: none;
    color: #dbd4b5;
}