/*NAV BAR*/
.site-nav{
    margin: 0 auto;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    top: 0px;
    left: 15px;
    right: 15px;
    position: fixed;
    background-color: #1f2420;
    border-top: solid 15px #171717;
    max-width: 1300px;
}

.nav-name{
    color: #dbd4b5;
    flex: 2;
    height: 65px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: font-size 0.4s;
    /* Font */
    font-family: "DM Serif Text", serif;
    font-weight: 600px;
    font-style: normal;
    font-size: 20px;
}

.nav-page-option {
    color: rgb(221, 221, 198);
    flex: 1;
    padding-top: 20px;
    height: 45px;
    text-align: center;
    transition: background-color .5s;

    /* font */
    font-family: "DM Serif Text", serif;
    font-weight: 20;
    font-size: 16px;

    /* For anchor tag */
    text-decoration: none;
    
}

.left-nav-border {
    border-left: solid 1px rgb(221, 221, 198);
}

.nav-page-option:hover {
    background-color: rgba(255, 255, 255, 0.164);
    cursor: pointer;
}

.nav-name:hover{
    font-size: 25px;
    cursor: pointer;
}

.nav-name:active{
    color:rgb(194, 194, 131);
}

footer {
    margin-top: 15px;
    background-color: #2e2e2e;
    display: flex;
    color: #646464;
}

.footer-right img {
    width: 20px;
    margin: 5px;
}

.footer-left img {
    width: 140px;
    margin-top: 17px;
    margin-left: 2%;
}
.footer-left p {
    margin-bottom: 0px;
}
.footer-left a {
    margin-left: 2%;
    color: #a7a7a7;
}

.footer-icon:hover {
    cursor: pointer;
}

.footer-left {
    flex: 1;
    padding-left: 30px;
    padding-top:5px;
    padding-bottom: 10px;
    text-align: center;
}
.footer-right {
    margin-top: 20px;
    flex: 1;
    margin-left: 30%;
    color: #dadada;
}

.footer-right a {
    color: #2e2e2e;
    text-decoration: none;
}
.footer-right a:hover {
    color: #dadada;
    text-decoration: none;
    transition: 2s;
}


/* Hides mobile nav */ 
.mobile-nav {
  display: none;
}

/* mobile nav trigger */ 
@media (max-width: 768px) {
    /* Hide the desktop navbar */ 
    .site-nav {
    display: none;
    }

    .hidden-box {
        display: none;
        margin-bottom: 0px;
    }
    

    /* Style the content based on whether the hidden checkbox is checked */
    .hidden-box:checked ~ .content {
      display: block; /* Shows when clicked */
    }

    .content {
      display: none; /* Hidden by default */
    }

  /* Show and style the mobile navbar */ 
  .mobile-nav {
    display: block;
    background-color: #222;
    margin-bottom: -8%;
  }
    
    
  .content a{
    border-left: solid #dbd4b5 1px;
    display: block;
    background-color: #1d1c1c;
    text-align: center;
    font-size: 120%;
    margin-top: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
    height: 40px;
    font-family: "DM Serif Text", serif;
    font-weight: 20;
    color: #dbd4b5;
  }
    
    .main-mobile-nav {
        display: flex;
    }
    
    .mobile-nav .nav-name{
        flex: 4;
        background-color: #222;
        border-left: 0px;
        font-size: 160%;
        padding-left: 0%;
        margin-top: 0%;
        height: 50px;
        padding-top: 1%;
        padding-left: 15%;
        padding-bottom: 1%;
    }
    
    .click-label {
    color: #dbd4b5;
    font-size: 30px;
    flex: 1;
    text-align: center;
    padding-top: 2%;
    border-left: 1px solid #dbd4b5;
  }
}





