body {
    margin: 0;
    height: 3000px;
    background-color: #171717;
    padding: 15px;
    max-width: 2500px;
}

.greeting-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 550px;
    margin-top: 80px;
}

.greeting-left{
    flex: 1;
    padding-right: 20px;
    color: cornsilk;
    z-index: 2;
    border-right: solid cornsilk 1px;
    font-family: "DM Serif Text", serif;
}

.greeting-left-elements{
    display: flex;
    flex-direction: column;
}

.welcome-text {
    height: 75px;
    width: 350px;
    margin-left: 10px;
    font-size: 45px;
}

.welcome-paragraph {
    margin-top: 50px;
    height: 100px;
    font-size: 20px;
}

.button-box{
    flex: 1;
    padding-top: 8%;

}

.greeting-img-parent {
    flex: 2;
    overflow: hidden;
    background-image: URL(greetingIMG2.JPEG);
    background-size: cover;
    background-position: center;
    opacity: 85%;
    
}

.greeting-img {
    height: 550px;
    /*
    right: 500px;
    position: relative;
    */
}

.home-greeting-button {
    width: 90%;
    background-color: #dbd4b5;
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    color:#171717;
    height: 60px;
    border: solid #171717 2px;
    margin-top: 5px;
    margin-left: 5%;
    transition: all .7s;
}

.home-greeting-button:hover{
    background-color: #dbd4b513;
    color: cornsilk;
    cursor: pointer;
}

#news-div {
    margin-top: 15px;
    background-color: #1f1f1f;
    color: #dbd4b5;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.news-left {
    border-right: #dbd4b5 1px solid;
    flex:1;
    padding-right: 20px;
    font-size: 100%;
}

.news-left h1 {
    margin-top: 25%;
    margin-left: 15px;
}

.news-right {
    flex: 2;
}

.news-right h2 {
    margin-left: 10px;
    margin-bottom: 2px;
}

.news-right p {
    margin-top: 0px;
    margin-left: 40px;
}

.annoucment-title {
    display: flex;
}

.annoucment-title h2 {
    flex: 3;
}

.annoucment-title h3 {
    flex: 1;
    width: 30px;
    margin-left: 20%;
    margin-bottom: 5px;
}